footer {
    background-color: #5d6a79;
    color: white;
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logoFooter, .menuFooter, .serviciosFooter{
    flex: 1 1 200px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


    footer .logoFooter img {
    height: 70px;
    margin-bottom: 1rem;
    max-height: 6rem;
}

footer .logoFooter p {
    font-size: 1.2rem;
    text-align: justify;
}

footer h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 0.5rem 0;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #ffc107;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        padding: 2rem 1rem;
    }

    .logoFooter, .menuFooter, .serviciosFooter, .otros {
        width: 100%;
        margin: 1rem 0;
    }
}

