.caratulaServicio {
    width: 100%;
    height: 35rem;
    position: relative;
}

.caratulaServicio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caratulaServicio h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 48px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
}

.presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    width: 70%;
    max-width: 1000px;
    position: absolute;
    top: 35rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;
    border-radius: 10px;
    gap: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.presentacion h2 {
    font-size: 3rem;
    font-weight: 200;
    color: rgb(50, 50, 50);
    text-align: center;
}

.presentacion p {
    font-size: 1.2rem;
    color: rgb(100, 100, 100);
    text-align: justify;
}

.contenedorServicios {
    margin-top: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 2rem;
}

.servicioSeccion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 80%;
    max-width: 1000px;
}

.servicioSeccion img {
    width: 400px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #969696;
}

.infoSeccion h2 {
    font-size: 2rem;
    font-weight: 200;
}

.infoSeccion ul {
    font-size: 1.2rem;
}

.infoSeccion ul li span {
    font-weight: 700;
}